<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ipAccess">
            <h2><span jhiTranslate="rcmDemoMsApp.ipAccess.detail.title">Ip Access</span> {{ ipAccess.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.anschlussbilanzierung">Anschlussbilanzierung</span></dt>
                <dd>
                    <span>{{ ipAccess.anschlussbilanzierung }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.bssoeorderid">Bssoeorderid</span></dt>
                <dd>
                    <span>{{ ipAccess.bssoeorderid }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.dnsprofile">Dnsprofile</span></dt>
                <dd>
                    <span>{{ ipAccess.dnsprofile }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.filterid">Filterid</span></dt>
                <dd>
                    <span>{{ ipAccess.filterid }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.fonAktiv">Fon Aktiv</span></dt>
                <dd>
                    <span>{{ ipAccess.fonAktiv }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.ipversion">Ipversion</span></dt>
                <dd>
                    <span>{{ ipAccess.ipversion }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.lineid">Lineid</span></dt>
                <dd>
                    <span>{{ ipAccess.lineid }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.maxdownspeed">Maxdownspeed</span></dt>
                <dd>
                    <span>{{ ipAccess.maxdownspeed }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.maxsessionduration">Maxsessionduration</span></dt>
                <dd>
                    <span>{{ ipAccess.maxsessionduration }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.maxupspeed">Maxupspeed</span></dt>
                <dd>
                    <span>{{ ipAccess.maxupspeed }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.mehrfachzugang">Mehrfachzugang</span></dt>
                <dd>
                    <span>{{ ipAccess.mehrfachzugang }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.profileid">Profileid</span></dt>
                <dd>
                    <span>{{ ipAccess.profileid }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.rechtAufFesteIpadresse">Recht Auf Feste Ipadresse</span></dt>
                <dd>
                    <span>{{ ipAccess.rechtAufFesteIpadresse }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.toNr">To Nr</span></dt>
                <dd>
                    <span>{{ ipAccess.toNr }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.umtServiceDataOcssubscriptionid">Umt Service Data Ocssubscriptionid</span></dt>
                <dd>
                    <span>{{ ipAccess.umtServiceDataOcssubscriptionid }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.umtServiceDataThrottledownl3">Umt Service Data Throttledownl 3</span></dt>
                <dd>
                    <span>{{ ipAccess.umtServiceDataThrottledownl3 }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.umtServiceDataThrottleprofile">Umt Service Data Throttleprofile</span></dt>
                <dd>
                    <span>{{ ipAccess.umtServiceDataThrottleprofile }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.umtServiceDataThrottleupl3">Umt Service Data Throttleupl 3</span></dt>
                <dd>
                    <span>{{ ipAccess.umtServiceDataThrottleupl3 }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.usecase">Usecase</span></dt>
                <dd>
                    <span>{{ ipAccess.usecase }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.ipAccess.userauthenticationrequired">Userauthenticationrequired</span></dt>
                <dd>
                    <span>{{ ipAccess.userauthenticationrequired }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ip-access', ipAccess.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
