<div>
    <h2 id="page-heading">
        <span jhiTranslate="rcmDemoMsApp.ipAccess.home.title">Ip Accesses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ip-access" [routerLink]="['/ip-access/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rcmDemoMsApp.ipAccess.home.createLabel">
            Create a new Ip Access
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ipAccesses?.length === 0">
        <span jhiTranslate="rcmDemoMsApp.ipAccess.home.notFound">No ipAccesses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ipAccesses && ipAccesses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anschlussbilanzierung"><span jhiTranslate="rcmDemoMsApp.ipAccess.anschlussbilanzierung">Anschlussbilanzierung</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bssoeorderid"><span jhiTranslate="rcmDemoMsApp.ipAccess.bssoeorderid">Bssoeorderid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coanakreaction"><span jhiTranslate="rcmDemoMsApp.ipAccess.coanakreaction">Coanakreaction</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="credentialsrequested"><span jhiTranslate="rcmDemoMsApp.ipAccess.credentialsrequested">Credentialsrequested</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="delegatedipv6prefix"><span jhiTranslate="rcmDemoMsApp.ipAccess.delegatedipv6prefix">Delegatedipv 6 Prefix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="delegatedipv6prefixlength"><span jhiTranslate="rcmDemoMsApp.ipAccess.delegatedipv6prefixlength">Delegatedipv 6 Prefixlength</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dnsprofile"><span jhiTranslate="rcmDemoMsApp.ipAccess.dnsprofile">Dnsprofile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filterid"><span jhiTranslate="rcmDemoMsApp.ipAccess.filterid">Filterid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fonAktiv"><span jhiTranslate="rcmDemoMsApp.ipAccess.fonAktiv">Fon Aktiv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="framedipv6prefix"><span jhiTranslate="rcmDemoMsApp.ipAccess.framedipv6prefix">Framedipv 6 Prefix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="framedipv6prefixlength"><span jhiTranslate="rcmDemoMsApp.ipAccess.framedipv6prefixlength">Framedipv 6 Prefixlength</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="haMSISDN"><span jhiTranslate="rcmDemoMsApp.ipAccess.haMSISDN">Ha MSISDN</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="influencesession"><span jhiTranslate="rcmDemoMsApp.ipAccess.influencesession">Influencesession</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iptvEnabled"><span jhiTranslate="rcmDemoMsApp.ipAccess.iptvEnabled">Iptv Enabled</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ipv4address"><span jhiTranslate="rcmDemoMsApp.ipAccess.ipv4address">Ipv 4 Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ipv4netmask"><span jhiTranslate="rcmDemoMsApp.ipAccess.ipv4netmask">Ipv 4 Netmask</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ipversion"><span jhiTranslate="rcmDemoMsApp.ipAccess.ipversion">Ipversion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lineid"><span jhiTranslate="rcmDemoMsApp.ipAccess.lineid">Lineid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxdownspeed"><span jhiTranslate="rcmDemoMsApp.ipAccess.maxdownspeed">Maxdownspeed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxsessionduration"><span jhiTranslate="rcmDemoMsApp.ipAccess.maxsessionduration">Maxsessionduration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxupspeed"><span jhiTranslate="rcmDemoMsApp.ipAccess.maxupspeed">Maxupspeed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mehrfachzugang"><span jhiTranslate="rcmDemoMsApp.ipAccess.mehrfachzugang">Mehrfachzugang</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profileid"><span jhiTranslate="rcmDemoMsApp.ipAccess.profileid">Profileid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profilset"><span jhiTranslate="rcmDemoMsApp.ipAccess.profilset">Profilset</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rechtAufFesteIpadresse"><span jhiTranslate="rcmDemoMsApp.ipAccess.rechtAufFesteIpadresse">Recht Auf Feste Ipadresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reserveprefix"><span jhiTranslate="rcmDemoMsApp.ipAccess.reserveprefix">Reserveprefix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="teilnehmersperre"><span jhiTranslate="rcmDemoMsApp.ipAccess.teilnehmersperre">Teilnehmersperre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="terminationprofile"><span jhiTranslate="rcmDemoMsApp.ipAccess.terminationprofile">Terminationprofile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="toNr"><span jhiTranslate="rcmDemoMsApp.ipAccess.toNr">To Nr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tunnelprofile"><span jhiTranslate="rcmDemoMsApp.ipAccess.tunnelprofile">Tunnelprofile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="umtServiceDataOcssubscriptionid"><span jhiTranslate="rcmDemoMsApp.ipAccess.umtServiceDataOcssubscriptionid">Umt Service Data Ocssubscriptionid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="umtServiceDataThrottledownl3"><span jhiTranslate="rcmDemoMsApp.ipAccess.umtServiceDataThrottledownl3">Umt Service Data Throttledownl 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="umtServiceDataThrottleprofile"><span jhiTranslate="rcmDemoMsApp.ipAccess.umtServiceDataThrottleprofile">Umt Service Data Throttleprofile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="umtServiceDataThrottleupl3"><span jhiTranslate="rcmDemoMsApp.ipAccess.umtServiceDataThrottleupl3">Umt Service Data Throttleupl 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usecase"><span jhiTranslate="rcmDemoMsApp.ipAccess.usecase">Usecase</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userauthenticationrequired"><span jhiTranslate="rcmDemoMsApp.ipAccess.userauthenticationrequired">Userauthenticationrequired</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voipIsPresent"><span jhiTranslate="rcmDemoMsApp.ipAccess.voipIsPresent">Voip Is Present</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ipAccess of ipAccesses ;trackBy: trackId">
                    <td><a [routerLink]="['/ip-access', ipAccess.id, 'view']">{{ ipAccess.id }}</a></td>
                    <td>{{ ipAccess.anschlussbilanzierung }}</td>
                    <td>{{ ipAccess.bssoeorderid }}</td>
                    <td>{{ ipAccess.coanakreaction }}</td>
                    <td>{{ ipAccess.credentialsrequested }}</td>
                    <td>{{ ipAccess.delegatedipv6prefix }}</td>
                    <td>{{ ipAccess.delegatedipv6prefixlength }}</td>
                    <td>{{ ipAccess.dnsprofile }}</td>
                    <td>{{ ipAccess.filterid }}</td>
                    <td>{{ ipAccess.fonAktiv }}</td>
                    <td>{{ ipAccess.framedipv6prefix }}</td>
                    <td>{{ ipAccess.framedipv6prefixlength }}</td>
                    <td>{{ ipAccess.haMSISDN }}</td>
                    <td>{{ ipAccess.influencesession }}</td>
                    <td>{{ ipAccess.iptvEnabled }}</td>
                    <td>{{ ipAccess.ipv4address }}</td>
                    <td>{{ ipAccess.ipv4netmask }}</td>
                    <td>{{ ipAccess.ipversion }}</td>
                    <td>{{ ipAccess.lineid }}</td>
                    <td>{{ ipAccess.maxdownspeed }}</td>
                    <td>{{ ipAccess.maxsessionduration }}</td>
                    <td>{{ ipAccess.maxupspeed }}</td>
                    <td>{{ ipAccess.mehrfachzugang }}</td>
                    <td>{{ ipAccess.profileid }}</td>
                    <td>{{ ipAccess.profilset }}</td>
                    <td>{{ ipAccess.rechtAufFesteIpadresse }}</td>
                    <td>{{ ipAccess.reserveprefix }}</td>
                    <td>{{ ipAccess.teilnehmersperre }}</td>
                    <td>{{ ipAccess.terminationprofile }}</td>
                    <td>{{ ipAccess.toNr }}</td>
                    <td>{{ ipAccess.tunnelprofile }}</td>
                    <td>{{ ipAccess.umtServiceDataOcssubscriptionid }}</td>
                    <td>{{ ipAccess.umtServiceDataThrottledownl3 }}</td>
                    <td>{{ ipAccess.umtServiceDataThrottleprofile }}</td>
                    <td>{{ ipAccess.umtServiceDataThrottleupl3 }}</td>
                    <td>{{ ipAccess.usecase }}</td>
                    <td>{{ ipAccess.userauthenticationrequired }}</td>
                    <td>{{ ipAccess.voipIsPresent }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ip-access', ipAccess.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ip-access', ipAccess.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ipAccess)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ipAccesses && ipAccesses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
