<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subscriber">
            <h2><span jhiTranslate="rcmDemoMsApp.subscriber.detail.title">Subscriber</span> {{ subscriber.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.asskeng">Asskeng</span></dt>
                <dd>
                    <span>{{ subscriber.asskeng }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.calid">Calid</span></dt>
                <dd>
                    <span>{{ subscriber.calid }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.dnsProfile">Dns Profile</span></dt>
                <dd>
                    <span>{{ subscriber.dnsProfile }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.errorelement">Errorelement</span></dt>
                <dd>
                    <span>{{ subscriber.errorelement }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.errormessage">Errormessage</span></dt>
                <dd>
                    <span>{{ subscriber.errormessage }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.errorvalue">Errorvalue</span></dt>
                <dd>
                    <span>{{ subscriber.errorvalue }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.ipversion">Ipversion</span></dt>
                <dd>
                    <span>{{ subscriber.ipversion }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.keyid">Keyid</span></dt>
                <dd>
                    <span>{{ subscriber.keyid }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.maxDownL3">Max Down L 3</span></dt>
                <dd>
                    <span>{{ subscriber.maxDownL3 }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.maxSessionDuration">Max Session Duration</span></dt>
                <dd>
                    <span>{{ subscriber.maxSessionDuration }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.maxUpL3">Max Up L 3</span></dt>
                <dd>
                    <span>{{ subscriber.maxUpL3 }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.mfzg">Mfzg</span></dt>
                <dd>
                    <span>{{ subscriber.mfzg }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.netprofileid">Netprofileid</span></dt>
                <dd>
                    <span>{{ subscriber.netprofileid }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.origin">Origin</span></dt>
                <dd>
                    <span>{{ subscriber.origin }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.passwort">Passwort</span></dt>
                <dd>
                    <span>{{ subscriber.passwort }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.passwortEnc">Passwort Enc</span></dt>
                <dd>
                    <span>{{ subscriber.passwortEnc }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.policyGroup">Policy Group</span></dt>
                <dd>
                    <span>{{ subscriber.policyGroup }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.profilset">Profilset</span></dt>
                <dd>
                    <span>{{ subscriber.profilset }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.rc">Rc</span></dt>
                <dd>
                    <span>{{ subscriber.rc }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.rectime">Rectime</span></dt>
                <dd>
                    <span>{{ subscriber.rectime }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.requestID">Request ID</span></dt>
                <dd>
                    <span>{{ subscriber.requestID }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.returnmessage">Returnmessage</span></dt>
                <dd>
                    <span>{{ subscriber.returnmessage }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.rsptime">Rsptime</span></dt>
                <dd>
                    <span>{{ subscriber.rsptime }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.tlnnr">Tlnnr</span></dt>
                <dd>
                    <span>{{ subscriber.tlnnr }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.tlnsps">Tlnsps</span></dt>
                <dd>
                    <span>{{ subscriber.tlnsps }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.subscriber.userAuthRequired">User Auth Required</span></dt>
                <dd>
                    <span>{{ subscriber.userAuthRequired }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subscriber', subscriber.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
