<div>
    <h2 id="page-heading">
        <span jhiTranslate="rcmHipsterApp.subscriber.home.title">Subscribers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subscriber" [routerLink]="['/subscriber/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rcmHipsterApp.subscriber.home.createLabel">
            Create a new Subscriber
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subscribers?.length === 0">
        <span jhiTranslate="rcmHipsterApp.subscriber.home.notFound">No subscribers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subscribers && subscribers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="asskeng"><span jhiTranslate="rcmHipsterApp.subscriber.asskeng">Asskeng</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="calid"><span jhiTranslate="rcmHipsterApp.subscriber.calid">Calid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dnsProfile"><span jhiTranslate="rcmHipsterApp.subscriber.dnsProfile">Dns Profile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="errorelement"><span jhiTranslate="rcmHipsterApp.subscriber.errorelement">Errorelement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="errormessage"><span jhiTranslate="rcmHipsterApp.subscriber.errormessage">Errormessage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="errorvalue"><span jhiTranslate="rcmHipsterApp.subscriber.errorvalue">Errorvalue</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ipversion"><span jhiTranslate="rcmHipsterApp.subscriber.ipversion">Ipversion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="keyid"><span jhiTranslate="rcmHipsterApp.subscriber.keyid">Keyid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxDownL3"><span jhiTranslate="rcmHipsterApp.subscriber.maxDownL3">Max Down L 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxSessionDuration"><span jhiTranslate="rcmHipsterApp.subscriber.maxSessionDuration">Max Session Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxUpL3"><span jhiTranslate="rcmHipsterApp.subscriber.maxUpL3">Max Up L 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mfzg"><span jhiTranslate="rcmHipsterApp.subscriber.mfzg">Mfzg</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="netprofileid"><span jhiTranslate="rcmHipsterApp.subscriber.netprofileid">Netprofileid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="origin"><span jhiTranslate="rcmHipsterApp.subscriber.origin">Origin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="passwort"><span jhiTranslate="rcmHipsterApp.subscriber.passwort">Passwort</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="passwortEnc"><span jhiTranslate="rcmHipsterApp.subscriber.passwortEnc">Passwort Enc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="policyGroup"><span jhiTranslate="rcmHipsterApp.subscriber.policyGroup">Policy Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profilset"><span jhiTranslate="rcmHipsterApp.subscriber.profilset">Profilset</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rc"><span jhiTranslate="rcmHipsterApp.subscriber.rc">Rc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rectime"><span jhiTranslate="rcmHipsterApp.subscriber.rectime">Rectime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="requestID"><span jhiTranslate="rcmHipsterApp.subscriber.requestID">Request ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="returnmessage"><span jhiTranslate="rcmHipsterApp.subscriber.returnmessage">Returnmessage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rsptime"><span jhiTranslate="rcmHipsterApp.subscriber.rsptime">Rsptime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tlnnr"><span jhiTranslate="rcmHipsterApp.subscriber.tlnnr">Tlnnr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tlnsps"><span jhiTranslate="rcmHipsterApp.subscriber.tlnsps">Tlnsps</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userAuthRequired"><span jhiTranslate="rcmHipsterApp.subscriber.userAuthRequired">User Auth Required</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let subscriber of subscribers ;trackBy: trackId">
                    <td><a [routerLink]="['/subscriber', subscriber.id, 'view']">{{ subscriber.id }}</a></td>
                    <td>{{ subscriber.asskeng }}</td>
                    <td>{{ subscriber.calid }}</td>
                    <td>{{ subscriber.dnsProfile }}</td>
                    <td>{{ subscriber.errorelement }}</td>
                    <td>{{ subscriber.errormessage }}</td>
                    <td>{{ subscriber.errorvalue }}</td>
                    <td>{{ subscriber.ipversion }}</td>
                    <td>{{ subscriber.keyid }}</td>
                    <td>{{ subscriber.maxDownL3 }}</td>
                    <td>{{ subscriber.maxSessionDuration }}</td>
                    <td>{{ subscriber.maxUpL3 }}</td>
                    <td>{{ subscriber.mfzg }}</td>
                    <td>{{ subscriber.netprofileid }}</td>
                    <td>{{ subscriber.origin }}</td>
                    <td>{{ subscriber.passwort }}</td>
                    <td>{{ subscriber.passwortEnc }}</td>
                    <td>{{ subscriber.policyGroup }}</td>
                    <td>{{ subscriber.profilset }}</td>
                    <td>{{ subscriber.rc }}</td>
                    <td>{{ subscriber.rectime }}</td>
                    <td>{{ subscriber.requestID }}</td>
                    <td>{{ subscriber.returnmessage }}</td>
                    <td>{{ subscriber.rsptime }}</td>
                    <td>{{ subscriber.tlnnr }}</td>
                    <td>{{ subscriber.tlnsps }}</td>
                    <td>{{ subscriber.userAuthRequired }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/subscriber', subscriber.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/subscriber', subscriber.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subscriber)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
