<div>
    <h2 id="page-heading">
        <span jhiTranslate="rcmHipsterApp.credentials.home.title">Credentials</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-credentials" [routerLink]="['/credentials/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rcmHipsterApp.credentials.home.createLabel">
            Create a new Credentials
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="credentials?.length === 0">
        <span jhiTranslate="rcmHipsterApp.credentials.home.notFound">No credentials found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="credentials && credentials.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="rcmHipsterApp.credentials.tonr">Tonr</span></th>
                    <th scope="col" ><span jhiTranslate="rcmHipsterApp.credentials.ask">Ask</span></th>
                    <th scope="col" ><span jhiTranslate="rcmHipsterApp.credentials.password">Password</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let credentials of credentials ;trackBy: trackId">
                    <td><a [routerLink]="['/credentials', credentials.id, 'view']">{{ credentials.id }}</a></td>
                    <td>{{ credentials.tonr }}</td>
                    <td>{{ credentials.ask }}</td>
                    <td>{{ credentials.password }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/credentials', credentials.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/credentials', credentials.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(credentials)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
