<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="credentials">
            <h2><span jhiTranslate="rcmDemoMsApp.credentials.detail.title">Credentials</span> {{ credentials.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rcmDemoMsApp.credentials.tonr">Tonr</span></dt>
                <dd>
                    <span>{{ credentials.tonr }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.credentials.ask">Ask</span></dt>
                <dd>
                    <span>{{ credentials.ask }}</span>
                </dd>
                <dt><span jhiTranslate="rcmDemoMsApp.credentials.password">Password</span></dt>
                <dd>
                    <span>{{ credentials.password }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/credentials', credentials.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
